
/**
 * 由 Kpu-mobile 提供技术支持
 * Powered by Kpu-mobile
 * https://kpu-mobile.kpui.cn
 */
  
@keyframes navbar-shrink-c7356c15{0%{height:min(53.333vw,320px);font-size:min(12.8vw,76.8px)}to{height:min(16vw,96px);font-size:min(4.8vw,28.8px)}}.custom-navbar[data-v-c7356c15]{animation:linear forwards navbar-shrink-c7356c15;animation-timeline:--navbar-timeline;animation-range:0 min(37.333vw,224px)}
