
/**
 * 由 Kpu-mobile 提供技术支持
 * Powered by Kpu-mobile
 * https://kpu-mobile.kpui.top/
 */
    
.navbar-static[data-v-6d54a556]{position:absolute;top:0;left:0;z-index:1000;width:100%}.navbar-fixed[data-v-6d54a556]{position:fixed;top:0;left:calc(50% - min(50%,300px));z-index:1000;width:min(100%,600px)}.tabbar[data-v-6d54a556]{position:fixed;bottom:0;left:calc(50% - min(50%,300px));z-index:1000;width:min(100%,600px)}.back-top[data-v-6d54a556]{position:fixed;right:calc(50% - min(274.4px,45.733%));bottom:min(4.267vw,25.6px);z-index:1000}
