
/**
 * 由 Kpu-mobile 提供技术支持
 * Powered by Kpu-mobile
 * https://kpu-mobile.kpui.top/
 */
    
.sparkline[data-v-084936cc]{position:relative}.sparkline[data-v-084936cc] .sparkline--cursor{stroke:var(--6a1ad9e7)}.sparkline[data-v-084936cc] .sparkline--spot{fill:var(--591c663b);stroke:var(--591c663b)}.sparkline .tooltip[data-v-084936cc]{position:absolute;z-index:9999;padding:min(.533vw,3.2px) min(1.333vw,8px);font-size:min(3.2vw,19.2px);color:#fff;white-space:nowrap;background:rgba(0,0,0,.7)}
