
/**
 * 由 Kpu-mobile 提供技术支持
 * Powered by Kpu-mobile
 * https://kpu-mobile.kpui.top/
 */
    
.category-list[data-v-80655e16]{position:absolute;top:0;bottom:0;left:0}.category-list .active-item[data-v-80655e16]:before,.category-list .active-item[data-v-80655e16]:after{position:absolute;right:0;width:min(5.333vw,32px);height:min(5.333vw,32px);content:"";border-radius:100%;box-shadow:0 0 0 min(5.333vw,32px) hsl(var(--background));transition:box-shadow .3s}.category-list .active-item[data-v-80655e16]:before{top:max(-5.333vw,-32px);clip-path:inset(50% max(-2.667vw,-16px) 0 50%)}.category-list .active-item[data-v-80655e16]:after{bottom:max(-5.333vw,-32px);clip-path:inset(0 max(-2.667vw,-16px) 50% 50%)}.product-list[data-v-80655e16]{position:absolute;top:0;right:0;bottom:0;left:0}
